h1{
    color: red;
    font-size: 150px;
}
.bacon{
    background-color: black;
}
.logo{
    /* background-color: blueviolet;
    image-resolution: 500; */
    font-size: 30px;
    color: rgb(126, 0, 243);
}