.hero_image{
    background: url(p1.jpg) no-repeat;
    -webkit-background-size: cover;
    height: 100vh;
}

.hero_wrapper{
    color: white;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.body{
    font-family: 'Poppins', sans-serif;
}
.hero_wrapper h1{
    font-size: 2.4rem;
    text-align: center;
}
.form_code .post_code{
    display: block;
    width: 80%;
    margin-left: auto;
    border-radius: 5rem;
    padding: 1rem;
    outline: none;
}
.form_code{
    text-align: center;

}
.product{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: auto; */
    margin-left: 70px;
    margin-top: 15px;

}
.product .product_list_item p{
    width: 60%;

}

.product_list_item{
    display: flex;
    flex-direction: column;
}

.product_list_item img{
    width: 250px;
    height: 300px;
}
.form_code button{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: auto;
    display: inline;
    background-color: aquamarine;
    /* color: white; */
    padding: .6rem;
    margin-top: 1rem;
    margin: 1rem auto 0rem;
    border: none;
    border-radius: .3rem;
}

.hero_wrapper span{
    margin-left: 6rem;
    display: inline-block;
    margin-bottom: .5rem;
}

@media screen and (max-width: 700px){
    
}